.Hero {
  img {
    width: 100%;
    height: 190px;
  }

  .text {
    position: absolute;
    color: white;

    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
  }

  .slick-dots {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }

  .slick-dots li {
    width: 7px;
    height: 7px;
    margin: 0 4px;
  }

  .slick-dots li button:before {
    color: #bdbdbd;
    opacity: 1;
  }

  .slick-dots li.slick-active button:before {
    color: #f8475f;
  }

  /* desktop */
  @media (min-width: 767px) {
    img {
      height: 430px;
    }

    .text {
      padding-top: 150px;
      font-weight: bold;
      font-size: 30px;
      line-height: 41px;
    }

    .slick-dots li {
      width: 10px;
      height: 10px;
    }
  }
}
