body {
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 5px 15px;
}

button:focus,
div,
input {
  outline: none;
}

/* desktop */
@media (min-width: 767px) {
}
